<div>
  <!-- Node Title/Controlls -->
  <div class="node-title"
        ng-class="{ 'node-clickable': node.children }"
        ng-click="node.expand = !node.expand; vm.activeNode = $id"
        ng-focus="vm.activeNode = $id">
    <span ng-if="node.children">
      <span ng-if="! node.expand">+</span>
      <span ng-if="node.expand">-</span>
    </span>

    <span ng-class="{'active-node': $id === vm.activeNode }">
      {{ node.name }}
    </span>
  </div>

  <!-- Display form to add Child folders -->
  <div>
    <form name="addChildNode{{$id}}"
      ng-submit="vm.addChildNode(node)">
      <input type="text"
              placeholder="Add Child Node"
              ng-focus="vm.activeNode = $id"
              ng-model="node.newNode">
      <input  type='submit' ng-disabled="! node.newNode" value="Add">
    </form>
  </div>

  <!-- Recursive list -->
  <ul layout="column" ng-if="node.children &amp;&amp; node.expand">
    <li ng-repeat="node in node.children"
      layout="column"
      ng-include="'app/components/templates/node.tpl.html'">
    </li>
  </ul>

</div>