<div ng-class="{'active-container': $id === vm.activeNode }">

  <!-- Node Title/Controlls -->
  <div class="node-title-outter" layout="row">
    <div class="node-title"
          ng-class="{ 'node-clickable': node.children }"
          ng-click="node.expand = !node.expand; vm.activeNode = $id"
          ng-focus="vm.activeNode = $id">

      <span ng-if="node.children">
        <md-icon ng-if="! node.expand" class="material-icons">folder</md-icon>
        <md-icon ng-if="node.expand" class="material-icons">folder_open</md-icon>
      </span>

      <span ng-class="{'active-node': $id === vm.activeNode }">
        {{ node.name }}
      </span>

    </div>

    <!-- Icon to add child nodes -->
    <span style="display: none;">
      <!-- Note: declaring temp variable to maintain
                 highlighting of active node.
                 Quite naughty, I know..
      -->
      {{ id = $id }}
    </span>
    <md-icon ng-if="! node.showAddChildForm"
              class="material-icons add-child-node-icon"
              ng-click="node.showAddChildForm = !node.showAddChildForm; vm.activeNode = id">
              create_new_folder
    </md-icon>
    <md-icon ng-if="node.showAddChildForm"
              class="material-icons add-child-node-icon"
              ng-click="node.showAddChildForm = !node.showAddChildForm">
              backspace
    </md-icon>
  </div>

  <!-- Display form to add Child folders -->
  <ng-include ng-if="node.showAddChildForm"
    src="'app/main/partials/add-child-nodes-form.tpl.html'"></ng-include>

  <!-- Recursive list -->
  <ul layout-align="start"
            ng-if="node.children &amp;&amp; node.expand">
    <li ng-repeat="node in node.children"
      ng-include="'app/main/partials/node.tpl.html'">
    </li>
  </ul>

</div>