/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html {
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
}

.no-padding {
  padding: 0;
}

.node-title {
  flex: 100;
  width: 100%;
}

.node-clickable {
  cursor: pointer;
}

.active-node {
  font-weight: bold;
}

.active-container {
  font-style: italic;
  background-color: #eee;
  border-radius: 3px;
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
